<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenu Sur Email testing avec django</h1>
    {% if msg %}
        <h4>{{ msg }}</h4>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="email"></label>
        <input name="email" type="email" id="email" placeholder="Enter your Email address">
        <button type="submit">envoyez</button>
    </form>

</body>
</html>